evalutils==0.4.2
nibabel
matplotlib
seaborn
imagecodecs
numpy>=1.24
scipy
yacs
requests
einops
click==8.1.5
batchgenerators>=0.25.1
batchgeneratorsv2>=0.2
blosc2>=3.0.0b1
acvl_utils>=0.2.3,<0.3
torch>=2.1.2
scikit-learn
xgboost
tifffile
dicom2nifti
scikit-image>=0.19.3
tqdm
pandas
SimpleITK>=2.2.1
dynamic-network-architectures>=0.3.1,<0.4